{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="pb-5 pt-3 container shadow-lg">
    <a  class="btn btn-outline-dark" href="{% url 'adm-producto' %}">&#x2190; Volver al Listado</a>
    <p></p>
    <h2>Editando {{producto.name}}</h2>
    <form class="container py-3" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class="py-4">
            <input class="btn btn-outline-success" type="submit" value="Guardar Cambios">
        </div>

    </form>

    {{ mensaje }}
</div>

{% endblock content %}
