{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="pb-5 pt-3 container shadow-lg" style="margin-bottom: 100vh;">
    <form class="container py-3" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class="py-4">
            <input class="btn btn-success" type="submit" value="Modificar">
        </div>

    </form>

    {{ mensaje }}
</div>

{% endblock content %}
