{% extends 'store/main.html'%}

{% load static %}

{% block content %}
<div class="pb-5 pt-3 container shadow-lg">
    <h2 class="pt-2 pb-4">Listado Usuarios</h2>
    <table class="table ">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Usuario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Telefono</th>
                <th scope="col">Correo</th>
                <th scope="col">Tipo</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
            {% if u.user %}

            <tr>
                <td scope="row">{{u.user.id}}</td>
                <td scope="row">{{u.user.username}}</td>
                <td scope="row">{{u.name}}</td>
                <td scope="row">{{u.last_name}}</td>
                <td scope="row">{{u.phone_number}}</td>
                <td scope="row">{{u.email}}</td>
                <td scope="row">{{u.tipo}}</td>

                <td scope="row"><a class="btn btn-outline-info" href="{% url 'edit_user' pk=u.user.id %}">
                    <i class="far fa-edit fa-2x"></i></a>
                </td>
                <td scope="row"><a class="btn btn-large btn-danger" data-toggle="confirmation" data-title="¿Seguro quiere eliminar esta cuenta?" href="{% url 'delete_user' pk=u.user.id %}" target="_blank">Eliminar</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-outline-primary" href="{% url 'register_client'%}">
        <i class="fa fa-user-plus"></i>Registrar Nuevo Cliente</a>
    <a class="btn btn-outline-primary" href="{% url 'register_seller'%}">
        <i class="fa fa-user-plus"></i>Registrar Nuevo Vendedor</a>
    <a class="btn btn-outline-primary" href="{% url 'register_supplier'%}">
        <i class="fa fa-user-plus"></i>Registrar Nuevo Proveedor</a>
    <a class="btn btn-outline-primary" href="{% url 'register_employee'%}">
        <i class="fa fa-user-plus"></i>Registrar Nuevo Empleado</a>
    <a class="btn btn-outline-success" href="{% url 'exportar_usuarios'%}" style='float: right; margin-right: 2vw;'>
       Exportar <i class="fa fa-file-excel-o"></i></a>
</div>
{% endblock %}