{% extends 'store/main.html'%}

{% load static %}

{% block content %}
<a data-toggle="modal" data-target="#exampleModalInfo"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
<div class="modal fade" id="exampleModalInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><strong>Manual de Ayuda</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>Administración de Boletas de Ferretería Ferme</strong></p>
                <p>En este módulo, visualizarás un listado con todas las boletas que se han generado en el sitio, con su respectiva información.</p>
                <p>Al final de cada boleta, visualizarás dos botones, el primero te permitirá editar esta boleta. El segundo, te permitirá eliminar la misma.</p>
                <p>Finalmente, en la esquina superior derecha de tu pantalla, verás un botón "Exportar", el cual exportará todo este listado a un archivo CSV, el cual puedes visualizar con la aplicación Microsoft Excel, LibreOffice o desde GoogleDocs.</p>
                <p style="float: right;"><small>Ferretería Ferme. <br> En tu barrio, siempre.</small> </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>
</div>

<div class="pb-5 pt-3 container shadow-lg">
    <a class="btn btn-outline-success" href="{% url 'exportar_boletas'%}" style='float: right; margin-right: 1vw;'>
        Exportar <i class="fa fa-file-excel-o"></i></a>
    <h2 class="pt-2 pb-4">Administración de Boletas</h2>
    <table class="table ">
        <thead>
            <tr>
            	<th scope="col">ID de Boleta</th>
                <th scope="col">ID de Venta</th>
                <th scope="col">N° de Boleta</th>
                <th scope="col">Vendedor</th>
                <th scope="col">Total</th>
                <th scope="col">Cantidad de Productos</th>
                <th scope="col">Modificar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for b in bills %}

            <tr>
            	<td scope="row">{{b.id}}</td>
                <td scope="row">{{b.order.id}}</td>
                <td scope="row">{{b.order.transaction_id}}</td>
                <td scope="row">{{b.vendedor}}</td>
                <td scope="row">${{b.total|floatformat:0}} CLP</td>
                <td scope="row">{{b.order.get_cart_items}}</td>
                <td scope="row">
                  <a class="btn btn-outline-info" href="{% url 'edit_bill' pk=b.id %}">
                      <i class="far fa-edit fa-2x"></i></a>
                </td>
                <td scope="row"><a class="btn btn-large btn-danger" data-toggle="confirmation" data-title="¿Seguro quiere eliminar esta boleta?" href="{% url 'delete_bill' pk=b.id %}">Eliminar</a>
                </td>

            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
