{% extends 'store/main.html'%}

{% load static %}

{% block content %}
<a data-toggle="modal" data-target="#exampleModalInfo"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
<div class="modal fade" id="exampleModalInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><strong>Manual de Ayuda</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>Administración de Ordenes de Compra de Ferretería Ferme</strong></p>
                <p>En este módulo, visualizarás un listado con todas las ordenes de compra que se han generado en el sitio, con su respectiva información.</p>
                <p>Al final de cada Orden, visualizarás dos botones, el primero te permitirá editar esta orden. El segundo, te permitirá eliminar la misma.</p>
                <p>La columna Recepción, hace referencia al momento en que se recibe la orden de compra en la ferretería. Si en el envío no hay problemas, esta se aprueba. Si hace falta algún producto, o llegó defectuoso, será rechazada.</p>
                <p>Finalmente, al final de este listado, verás dos botones: "Generar Nueva Orden de Compra" y "Exportar", el primero, te permitirá generar una nueva orden, la cual podrás guardar como borrador, o enviarla directamente al Proveedor que hayas escogido. El segundo exportará todo este listado a un archivo CSV, el cual puedes visualizar con la aplicación Microsoft Excel, LibreOffice o desde GoogleDocs.</p>
                <p style="float: right;"><small>Ferretería Ferme. <br> En tu barrio, siempre.</small> </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>
</div>

<div class="pb-5 pt-3 container shadow-lg">
    <div class="alert alert-warning" role="alert" >
          <strong>OJO!</strong> Una Orden de Compra que ya ha sido enviada a su Proveedor, no permite ser eliminada.
    </div>

    
    <h2 class="pt-2 pb-4">Ordenes de Compra</h2>
    <a class="btn btn-outline-success mb-3" href="{% url 'exportar_ordenes'%}" style='float: right; margin-right: 2vw;'>
        Exportar <i class="fa fa-file-excel-o"></i></a>
        <a class="btn btn-outline-primary" href="{% url 'generar-ordencompra' %}" style='float: right; margin-right: 2vw;'>
        <i class="fa fa-plus"></i> Generar Nueva Orden de Compra</a>
    <table class="table ">
        <thead>
            <tr>
            	<th scope="col">Id Orden</th>
            	<th scope="col">Remitente</th>
                <th scope="col">Fecha Solicitud</th>
                <th scope="col">Recepcion</th>
                <th scope="col">Estado</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Detalle/Modificar</th>
                <th scope="col">Eliminar</th>
                <th scope="col">Revisar</th>
            </tr>
        </thead>
        <tbody>
            {% for o in orden %}

            <tr>
            	<td scope="row">{{o.id}}</td>
                <td scope="row">{{o.remitente.name}}</td>
                <td scope="row">{{o.fecha}}</td>
                <td scope="row">{{o.status}}</td>
                {% if o.enviado == True %}
                <td scope="row">Enviado</td>
                {% endif %}
                {% if o.enviado == False  %}
                <td scope="row">En Espera</td>
                {% endif %}
                <td scope="row">{{o.proveedor.profile.name}}</td>
                {% if o.enviado == False  %}
                <td scope="row">
                  <a class="btn btn-outline-info" href="{% url 'edit_order' pk=o.id %}">
                      <i class="far fa-edit fa-2x"></i></a>
                </td>
                {% else %}
                <td scope="row">
                    <a class="btn btn-outline-info disabled">
                      <i class="far fa-edit fa-2x"></i></a>
                </td>
                {% endif %}
                {% if o.enviado == False  %}
                <td scope="row"><a class="btn btn-large btn-danger" data-toggle="confirmation" data-title="¿Seguro quiere eliminar esta Orden de Compra?" href="{% url 'eliminar-ordencompra' pk=o.id %}">Eliminar</a>
                </td>
                {% else %}
                <td scope="row">
                    <a class="btn btn-large btn-danger disabled">Eliminar</a>
                </td>
                {% endif %}
                {% if o.enviado == True %}
                    <td scope="row">
                        <a class="btn btn-outline-info" href="{% url 'review_order' pk=o.id%}">
                            <i class="fa fa-arrow-right fa-2x"></i></a>
                    </td>
                {% else %}
                <td scope="row">
                    <a class="btn btn-outline-info disabled" href="{% url 'review_order' pk=o.id%}">
                        <i class="fa fa-arrow-right fa-2x"></i></a>
                </td>
                {% endif %}
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<div class="pb-5 pt-3 container shadow-lg">

    <h2 class="pt-2 pb-4">Listado de Proveedores</h2>
    <table class="table ">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Telefono</th>
                <th scope="col">Correo</th>
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
            {% if u.user %}

            <tr>
                <td scope="row">{{u.name}}</td>
                <td scope="row">{{u.last_name}}</td>
                <td scope="row">{{u.phone_number}}</td>
                <td scope="row">{{u.email}}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    
</div>
{% endblock %}
