{% extends 'store/main.html'%}

{% load static %}
{% block javascript %}

    <script src="{% static 'js/confirmacion.js' %}"></script>

{% endblock %}
{% block content %}
<div class="pb-5 pt-3 container shadow-lg" style="margin-bottom: 100vh;">
    <h2 class="pt-2 pb-4">Ordenes de Compra</h2>
    <table class="table ">
        <thead>
            <tr>
            	<th scope="col">Id Orden</th>
            	<th scope="col">Remitente</th>
                <th scope="col">Fecha Solicitud</th>
                <th scope="col">Estado</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Detalle/Modificar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for o in orden %}

            <tr>
            	<td scope="row">{{o.id}}</td>
                <td scope="row">{{o.remitente.name}}</td>
                <td scope="row">{{o.fecha}}</td>
                {% if o.enviado == True %}
                <td scope="row">Enviado</td>
                {% endif %}
                {% if o.enviado == False  %}
                <td scope="row">En Espera</td>
                {% endif %}
                <td scope="row">{{o.proveedor.profile.name}}</td>
                <td scope="row">
                  <a class="btn btn-outline-info" href="#!">
                      <i class="far fa-edit fa-2x"></i></a>
                </td>
                {% if o.enviado == False  %}
                <td scope="row"><a class="btn btn-large btn-danger" data-toggle="confirmation" data-title="¿Seguro quiere eliminar esta Orden de Compra?" href="#!" target="_blank">Eliminar</a>
                </td>
                {% endif %}

            </tr>

            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-outline-primary" href="{% url 'generar-ordencompra' %}">
        <i class="fa fa-user-plus"></i>Generar Nueva Orden de Compra</a>

</div>
{% endblock %}
