{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<a data-toggle="modal" data-target="#exampleModalInfo"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
<div class="modal fade" id="exampleModalInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"><strong>Manual de Ayuda</strong></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p><strong>Carrito de Compras de Ferretería Ferme</strong></p>
				<p>Al hacer click en el botón "Continuar Comprando", volverás a la página principal de la tienda.</p>
				<p>Debajo, podrás visualizar la cantidad productos que agregaste al carrito. También verás el total a pagar. Y podrás escoger entre generar una Boleta o una Factura para tu compra.</p>
				<p>Además, podrás visualizar el precio, la cantidad y el total de cada producto que has agregado.</p>
				<p style="float: right;"><small>Ferretería Ferme. <br> En tu barrio, siempre.</small> </p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Volver</button>
			</div>
		</div>
	</div>
</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continuar Comprando</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5>Productos: <strong>{{order.get_cart_items}}</strong></h5></th>
						<th><h5>Total:<strong> ${{order.get_cart_total|floatformat:2}}</strong></h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Boleta</a>
							<a  style="float:right; margin:5px;" class="btn btn-warning" href="{% url 'checkoutfact' %}">Factura</a>
						</th>

					</tr>
				</table>

			</div>

			<br>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Producto</strong></div>
					<div style="flex:1"><strong>Precio</strong></div>
					<div style="flex:1"><strong>Cantidad</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>
				
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>{{item.product.price|floatformat:0}}</p></div>
					<div style="flex:1">
						<p class="quantity">{{item.quantity}}</p>
						<div class="quantity">
							<img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'img/arrow-up.png' %}">
					
							<img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'img/arrow-down.png' %}">
						</div>
					</div>
					<div style="flex:1"><p>${{item.get_total|floatformat:2}}</p></div>
				</div>
                {% endfor %}
			</div>
		</div>
	</div>
	{% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 20px;">
        	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    	<span aria-hidden="true">×</span></button>
          <li class="{{ message.tags }}">{{ message }}</li>
        </div>

        {% endfor %}
      </ul>
    {% endif %}
{% endblock content %}

