<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Ferreteria FERME</title><!--jajajajaj-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">


	<script type="text/javascript">
		var user = '{{request.user}}'
		function getToken(name){
			var cookieValue = null;
			if(document.cookie && document.cookie !== ''){
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++){
					var cookie = cookies[i].trim();
					// Esta cookie empieza con el nombre que queremos?
					if (cookie.substring(0, name.length + 1) === (name + '='))
					{
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		var csrftoken = getToken('csrftoken');


		function getCookie(name){
			var cookieArr = document.cookie.split(";");
			for (var i = 0; i < cookieArr.length; i++) {
				var cookiePair = cookieArr[i].split("=");
				if(name == cookiePair[0].trim()){
					return decodeURIComponent(cookiePair[1]);
				}
			}
			return null;
	}
		var cart = JSON.parse(getCookie('cart'))
		if (cart == undefined) {
			cart = {}
			console.log('Carro creado')
			document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)
	</script>

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

	  <a class="navbar-brand" href="{% url 'store' %}"><img src="{% static 'img/logo-ferme.png' %}" id="logo"/></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  	<!--TO DO: Cambiar href de cada <li> y crear template para cada uno-->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    	<ul class="navbar-nav mr-auto">
	    		
	      		<li class="nav-item active">
	        		<a class="nav-link" href="{% url 'store' %}">Inicio <span class="sr-only">(current)</span></a>
		  		</li>
		  		<li class="nav-item active" id="adm-facturation">
	        		<a class="nav-link" href="{% url 'store' %}">Facturas<span class="sr-only"></span></a>
		  		</li>
		  		<li class="nav-item active" id="adm-bill">
	        		<a class="nav-link" href="{% url 'store' %}">Boletas<span class="sr-only"></span></a>
		  		</li>
		  		<li class="nav-item active" id="adm-product">
	        		<a class="nav-link" href="{% url 'adm-producto' %}">Productos<span class="sr-only"></span></a>
		  		</li>
		  		<li class="nav-item active" id="adm-order">
	        		<a class="nav-link" href="{% url 'store' %}">Ordenes de Compra<span class="sr-only"></span></a>
				  </li>
				  <li class="nav-item active" id="adm-users">
	        		<a class="nav-link" href="{% url 'listado_usuarios' %}">Usuarios<span class="sr-only"></span></a>
	        	  </li>
	        	  <li class="nav-item active" id="cuenta">
	        		<a class="nav-link" href="{% url 'listado_usuarios' %}">Mi cuenta <span class="sr-only"></span></a>
	      		</li>
			</ul>
		</div>

	    <div class="form-inline my-2 my-lg-0">
			{% if user.is_authenticated  %}
			Hola {{ user.profile.tipo }} {{ user.profile.name }}!
			<a href="{% url 'logout' %}"class="btn btn-warning">Logout</a>
			{% else %}
  			<p>No estás registrado </p> 
			 <a href="{% url 'login' %}"class="btn btn-warning">Login</a>
			{% endif %}

	     	<a href="{% url 'cart' %}">
	    		<img  id="cart-icon" src="{% static 'img/cart.png' %}">
	    	</a>
	    	<p id="cart-total">{{cartItems}}</p>

	    </div>
	  </div>
	</nav>

     <div class="container">
            <br>
            {% block content %}


            {% endblock content %}
         </div>


	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

	<script type="text/javascript">
		// Aqui puedo implementar y decidir que usuarios podrán ver que módulos.
		var is_client = '{{user.profile.cliente.is_client}}'
		var is_seller = '{{user.profile.seller.is_seller}}'
		var is_supplier = '{{user.profile.supplier.is_supplier}}'
		var is_employee = '{{user.profile.employee.is_employee}}'
		var is_admin = '{{user.profile.administrator.is_admin}}'

		if (is_client == 'True'){
			document.getElementById('adm-order').innerHTML = ''
			document.getElementById('adm-users').innerHTML = ''
		}
		else if (is_seller == 'True'){
			document.getElementById('adm-order').innerHTML = ''
			document.getElementById('adm-users').innerHTML = ''
		}
		else if (is_supplier == 'True'){
			document.getElementById('adm-facturation').innerHTML = ''
			document.getElementById('adm-bill').innerHTML = ''
			document.getElementById('adm-product').innerHTML = ''
			document.getElementById('adm-users').innerHTML = ''
		}
		else if (is_employee == 'True'){
			document.getElementById('adm-facturation').innerHTML = ''
			document.getElementById('adm-bill').innerHTML = ''

		}
		else if (is_admin == 'True'){

		}else{
			document.getElementById('adm-facturation').innerHTML = ''
			document.getElementById('adm-bill').innerHTML = ''
			document.getElementById('adm-product').innerHTML = ''
			document.getElementById('adm-order').innerHTML = ''
			document.getElementById('adm-users').innerHTML = ''
		}
	</script>
</body>
</html>
