{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="pb-5 pt-3 container shadow-lg" style="margin-bottom: 100vh;">
    <div class='row'>
        <h2 class="pt-2 pb-4" style='margin-left: 2vh'>Consultar Orden de Compra</h1>
    </div>
    <form>
        <div class="form-group">
          <label for="basic-url">ID de la Orden</label>
          <input type="text" class="form-control" id="id-orden" placeholder="Ej: 1234">
        </div>
        <button type="submit" class="btn btn-primary" href="{% url 'proveedor-ordencompra' %}">Consultar</button>
    </form>

</div>

{% endblock content %}