{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<a data-toggle="modal" data-target="#exampleModalInfo"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
<div class="modal fade" id="exampleModalInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"><strong>Manual de Ayuda</strong></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p><strong>Esta es la página principal de Ferretería Ferme</strong></p>
				<p>Aquí podrás encontrar todos nuestros productos disponibles.</p>
				<p>Al hacer click en el botón Comprar, el producto se agregará automáticamente al carrito de compras. Este carrito puedes visualizarlo en la esquina superior derecha de tu pantalla.</p>
				<p>Al hacer click en el botón Ver Más, podrás acceder a la información completa de cada producto.</p>
				<p style="float: right;"><small>Ferretería Ferme. <br> En tu barrio, siempre.</small> </p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Volver</button>
			</div>
		</div>
	</div>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'img/slide1.png' %}" data-src="holder.js/900x400?theme=social" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'img/slide3.png' %}" data-src="holder.js/900x400?theme=industrial" alt="Second slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


	<div class="row">
		{% for product in products %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<small>ID Producto: {{product.skuProducto}}</small>
				<hr>
				{% if product.stock > 0 %}
				<button data-product={{product.id}} data-action="add" class="btn btn-warning add-btn update-cart">Comprar</button>
				{% else %}
				<button class="btn btn-danger disabled">Sin Stock</button>
				{% endif %}
				<button class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal{{product.id}}">Ver más...</button>
				<h4 style="float: right">
				$ {{product.price|floatformat:0}}</h4>
			</div>
		</div>
		<div class="modal fade" id="exampleModal{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel"><b>{{product.name}}</b></h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			      	<img class="thumbnail" src="{{product.imageURL}}">
			        <p><strong>Nombre del Producto:</strong> {{product.name}}</p>
	                <p><strong>ID del Producto:</strong> {{product.skuProducto}}</p>
	                <p><strong>Precio:</strong> ${{product.price|floatformat:0}} CLP</p>
	                <p><strong>Stock:</strong> {{product.stock}}</p>
	                <p><strong>Proveedor:</strong> {{product.proveedor}}</p>
	                <p><strong>Familia del Producto:</strong> {{product.familia}}</p>
	                <p><strong>Tipo de Producto:</strong> {{product.tipo_producto}}</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Volver</button>
			      </div>
			    </div>
			  </div>
		</div>
			{% endfor %}
	</div>


{% endblock content %}